./breed_herdxyear_lact1.covar
./herdxyear_lact1.covar
./mast_lact1.phen
./mastlact1_holstein.phen
./output_hd_exclude.bed
./output_hd_exclude.bim
./output_hd_exclude.fam
./output_hd_exclude.log
./output_hd_exclude.raw