/output_hd_exclude_binary.txt
/mast_lact1_sorted.txt
/output_hd_exclude_top_SNPs_binary.txt
/top4000SNPS.txt
/output_hd_exclude_top_SNPs.txt
/output_hd_exclude_cleaned.txt
/output_hd_exclude_binary_herd.txt
/output_hd_exclude_binary.txt
/output_hd_exclude.raw
/output_hd_exclude.log
/output_hd_exclude.fam
/output_hd_exclude.bim
/output_hd_exclude.bed
/mastlact1_holstein.phen
/mast_lact1_sorted_herd.txt
/mast_lact1_sorted.txt
/mast_lact1.phen
/herdxyear_lact1_temp1.txt
/herdxyear_lact1_sorted.txt
/herdxyear_lact1.covar
/breed_herdxyear_lact1.covar
