wheel==0.42.0
shellingham==1.5.4
pip==23.3
lib==4.0.0
arrow==1.3.0
optimum==1.24.0
async-lru==2.0.4
black==24.8.0
fastjsonschema==2.19.1
nbclient==0.10.0
coloredlogs==15.0.1
uri-template==1.3.0
humanfriendly==10.0
kiwisolver==1.4.5
libclang==16.0.6
spacy==3.8.2
tensorflow-metal==1.1.0
rfc3339-validator==0.1.4
xyzservices==2025.1.0
pexpect==4.9.0
pyasn1==0.5.1
absl-py==2.1.0
pygame==2.5.2
pandas==2.2.3
opentelemetry-exporter-otlp-proto-grpc==1.30.0
fqdn==1.5.1
decorator==5.1.1
importlib_metadata==8.5.0
mmh3==5.1.0
xgboost==2.0.3
grpcio==1.68.0
wordcloud==1.9.4
pyarrow==18.0.0
numpy==1.23.5
nest-asyncio==1.6.0
tensorboard==2.15.1
branca==0.8.1
tqdm==4.67.0
fonttools==4.48.1
parsedatetime==2.6
termcolor==2.4.0
diskcache==5.6.3
multidict==6.1.0
ptyprocess==0.7.0
tensorflow-estimator==2.15.0
aiosignal==1.3.1
aiohttp==3.10.10
isoduration==20.11.0
PyYAML==6.0.1
nltk==3.9.1
typer==0.13.0
tensorflow-macos==2.15.0
matplotlib==3.7.1
tinycss2==1.2.1
jupyter_server==2.13.0
toml==0.10.2
Pygments==2.17.2
overrides==7.7.0
typeguard==4.4.1
parso==0.8.4
webencodings==0.5.1
colorama==0.4.6
uvicorn==0.34.0
tensorflow-io-gcs-filesystem==0.34.0
scikit-learn==1.3.0
zipp==3.21.0
pydeck==0.9.1
openai==1.63.0
astunparse==1.6.3
threadpoolctl==3.3.0
starlette==0.45.3
propcache==0.2.0
contourpy==1.2.0
python-json-logger==2.0.7
poker==0.30.0
defusedxml==0.7.1
opentelemetry-proto==1.30.0
googleapis-common-protos==1.66.0
slicer==0.0.8
jsonpointer==2.4
pypdfium2==4.30.1
httpcore==1.0.5
google-pasta==0.2.0
requests==2.32.3
frozenlist==1.5.0
openpyxl==3.1.5
gdpc==6.1.1
opentelemetry-api==1.30.0
pydantic==2.10.6
google-ai-generativelanguage==0.6.15
spacy-legacy==3.0.12
blinker==1.9.0
google-generativeai==0.8.4
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
pytest==8.3.4
bitsandbytes==0.42.0
six==1.16.0
pathlib==1.0.1
langcodes==3.4.1
asyncer==0.0.8
seaborn==0.13.2
mypy-extensions==1.0.0
Farama-Notifications==0.0.4
h11==0.14.0
GitPython==3.1.44
yarl==1.17.1
jupyter-console==6.6.3
attrs==23.2.0
QtPy==2.4.1
spacy-loggers==1.0.5
joblib==1.4.2
setuptools==63.2.0
ml-dtypes==0.2.0
widgetsnbextension==4.0.10
Jinja2==3.1.3
zope.interface==6.1
itsdangerous==2.2.0
traitlets==5.14.2
pyglm-typing==0.2.1
anyio==4.3.0
tiktoken==0.9.0
folium==0.19.4
notebook==7.1.2
protobuf==3.20.3
murmurhash==1.0.10
catalogue==2.0.10
webcolors==1.13
iniconfig==2.0.0
rich==13.9.4
tokenizers==0.20.3
kubernetes==32.0.0
uritemplate==4.1.1
fsspec==2024.6.1
google-auth-httplib2==0.2.0
scipy==1.10.1
pandocfilters==1.5.1
tifffile==2024.2.12
nbconvert==7.16.3
NBT==1.5.1
chroma-hnswlib==0.7.6
jupyter-events==0.10.0
lazy_loader==0.3
appnope==0.1.4
sns==0.1
torch==2.4.0
google-api-core==1.34.1
mistune==3.0.2
configparser==6.0.0
numba==0.60.0
weasel==0.4.1
Babel==2.14.0
safetensors==0.4.3
Markdown==3.5.2
packaging==23.2
confection==0.1.5
json5==0.9.24
tenacity==9.0.0
opentelemetry-sdk==1.30.0
qtconsole==5.5.1
pdfminer.six==20231228
nbformat==5.10.4
async-timeout==4.0.3
google-cloud-core==1.7.3
stack-data==0.6.3
argon2-cffi==23.1.0
platformdirs==4.2.0
asttokens==2.4.1
en_core_web_sm==3.8.0
llama_cpp_python==0.3.7
asgiref==3.8.1
wrapt==1.14.1
pathspec==0.12.1
oauthlib==3.2.2
cached-property==1.5.2
multiprocess==0.70.16
websockets==14.2
MarkupSafe==2.1.4
torchaudio==2.4.0
Werkzeug==3.1.3
langdetect==1.0.9
jedi==0.19.1
opentelemetry-instrumentation-fastapi==0.51b0
jupyter_core==5.7.2
pure-eval==0.2.2
pdfplumber==0.11.5
python-dotenv==1.0.1
xxhash==3.5.0
aiohappyeyeballs==2.4.3
cloudpickle==3.1.0
gast==0.5.4
regex==2024.11.6
soupsieve==2.5
prompt-toolkit==3.0.43
shap==0.46.0
filelock==3.15.4
Send2Trash==1.8.3
scikit-image==0.22.0
datasets==3.1.0
pillow==10.2.0
cryptography==44.0.1
cffi==1.16.0
sentence-transformers==3.4.1
gitdb==4.0.12
Deprecated==1.2.18
sniffio==1.3.1
transformers==4.46.2
Flask-Cors==5.0.0
matplotlib-inline==0.1.6
huggingface-hub==0.24.2
opentelemetry-util-http==0.51b0
jupyterlab_widgets==3.0.10
jupyterlab==4.1.6
mdurl==0.1.2
more-itertools==10.5.0
tensorflow==2.15.0
smart-open==7.0.5
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
coverage==6.4.4
urllib3==2.1.0
build==1.2.2.post1
pytz==2024.2
toolz==0.12.1
preshed==3.0.9
RapidFuzz==3.12.1
rsa==4.9
bleach==6.1.0
wcwidth==0.2.13
charset-normalizer==3.3.2
pyasn1-modules==0.3.0
pyzmq==25.1.2
websocket-client==1.7.0
debugpy==1.8.1
jupyter==1.0.0
language_data==1.2.0
setproctitle==1.3.5
psutil==5.9.8
wasabi==1.1.3
srsly==2.4.8
grpc-google-iam-v1==0.13.1
ipykernel==6.29.4
keras==2.15.0
pydantic_core==2.27.2
opentelemetry-exporter-otlp-proto-common==1.30.0
altair==5.3.0
chromadb==0.6.3
pycparser==2.22
cycler==0.12.1
opencv-python==4.9.0.80
pluggy==1.5.0
cymem==2.0.8
dill==0.3.8
comm==0.2.2
geopy==2.4.1
grpcio-status==1.48.2
accelerate==1.1.0
rpds-py==0.18.0
google-auth==2.38.0
marisa-trie==1.2.1
pyautogen==0.7.4
pyparsing==3.1.1
opentelemetry-instrumentation==0.51b0
h5py==3.10.0
ipython==8.23.0
fastapi==0.115.8
distro==1.9.0
imageio==2.34.0
phevaluator==0.5.2
jiter==0.8.2
cachetools==4.2.4
opt-einsum==3.3.0
docker-pycreds==0.4.0
rfc3986-validator==0.1.1
referencing==0.34.0
opentelemetry-semantic-conventions==0.51b0
tomli==2.0.1
onnxruntime==1.20.1
jupyter-lsp==2.2.4
terminado==0.18.1
bcrypt==4.2.1
orjson==3.10.15
docker==7.1.0
networkx==3.2.1
httptools==0.6.4
Flask==3.1.0
memory-profiler==0.61.0
httpx==0.27.0
sympy==1.13.1
proto-plus==1.25.0
argon2-cffi-bindings==21.2.0
sar_project==0.1.0
typing_extensions==4.12.2
jupyter_client==8.6.1
certifi==2023.11.17
smmap==5.0.2
watchfiles==1.0.4
tf==1.0.0
geographiclib==2.0
types-python-dateutil==2.9.0.20240316
monotonic==1.6
jupyterlab_server==2.26.0
et-xmlfile==1.1.0
backoff==2.2.1
ipywidgets==8.1.2
tensorboard-data-server==0.7.2
torchvision==0.19.0
fast-depends==2.4.12
tzdata==2024.2
jupyter_server_terminals==0.5.3
prometheus_client==0.20.0
posthog==3.12.1
pyproject_hooks==1.2.0
wandb==0.19.9
gymnasium==1.0.0
google-api-python-client==2.161.0
opentelemetry-instrumentation-asgi==0.51b0
beautifulsoup4==4.12.3
lxml==5.1.0
uvloop==0.21.0
sentry-sdk==2.25.1
cloudpathlib==0.20.0
google-auth-oauthlib==1.2.0
exceptiongroup==1.2.0
annotated-types==0.7.0
inflect==7.4.0
httplib2==0.22.0
idna==3.6
jsonschema==4.21.1
streamlit==1.41.1
PyPika==0.48.9
executing==2.0.1
autogen==0.7.4
importlib_resources==6.5.2
flatbuffers==23.5.26
google-cloud-translate==2.0.1
durationpy==0.9
click==8.1.7
PyGLM==2.7.1
requests-oauthlib==1.3.1
notebook_shim==0.2.4
tornado==6.4
llvmlite==0.43.0
sar_project==0.1.0
